In [3]:
%pip install DBcm --upgrade

Collecting DBcm
  Using cached dbcm-3.0.5-py3-none-any.whl.metadata (2.6 kB)
Collecting mariadb (from DBcm)
  Using cached mariadb-1.1.13.tar.gz (111 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: packaging in /home/manish/.local/share/pipx/venvs/jupyter/lib/python3.12/site-packages (from mariadb->DBcm) (24.2)
Downloading dbcm-3.0.5-py3-none-any.whl (4.4 kB)
Building wheels for collected packages: mariadb
  Building wheel for mariadb (pyproject.toml) ... done
  Created wheel for mariadb: filename=mariadb-1.1.13-cp312-cp312-linux_x86_64.whl size=201171 sha256=5258fe47cd6cb39293569f7fe5871a9b24d596cd973e5702bf010cc394185741
  Stored in directory: /home/manish/.cache/pip/wheels/c4/5f/6a/0902caa01c889fa886cceb4a076513dabea839df6ecb5e24e2
Successfully built mariadb
Installing collected packages: mariadb, DBcm
Successfully installed DBcm-3.0.5 mariadb-1.1.13

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import DBcm

In [5]:
db_details = "CoachDB.sqlite3"

In [6]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()

In [7]:
results

[('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [8]:
SQL = """
    select time()
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[('16:50:25',)]

In [9]:
SQL = """
    select time()
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()
results

('16:51:49',)

In [ ]:
SQL = """
    create table if not exists swimmers (
        id integer not null primary key autoincrement,
        name varchar(32) not null,
        age integer not null
    )
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [11]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [15]:
with DBcm.UseDatabase(db_details) as db:
    SQL_1 = """
        create table if not exists events (
            id integer not null primary key autoincrement,
            distance varchar(16) not null,
            stroke varchar(16) not null
        )
    """
    SQL_2 = """
        create table if not exists times (
            swimmer_id integer not null,
            event_id integer not null,
            time varchar(16) not null,
            ts timestamp default current_timestamp
        )
    """
    db.execute(SQL_1)
    db.execute(SQL_2)

In [16]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]