In [12]:
fn = "Abi-10-100m-Back.txt"
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [13]:
name, age

('Abi', '10')

In [14]:
distance, stroke

('100m', 'Back')

In [15]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
if ".DS_Store" in files:
    files.remove(".DS_Store")

In [16]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Katie-9-50m-Back.txt

('Katie', '9')

In [17]:
import DBcm

db_details = "CoachDB.sqlite3"

In [18]:
SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

In [19]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(
        SQL_INSERT,
        (
            name,
            age,
        ),
    )

In [29]:
SQL = """
    select * from swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[(25, 'Katie', 9),
 (26, 'Calvin', 9),
 (27, 'Hannah', 13),
 (28, 'Mike', 15),
 (29, 'Darius', 13),
 (30, 'Elba', 14),
 (31, 'Abi', 10),
 (32, 'Erika', 15),
 (33, 'Ruth', 13),
 (34, 'Maria', 9),
 (35, 'Alison', 14),
 (36, 'Emma', 13),
 (37, 'Blake', 15),
 (38, 'Lizzie', 14),
 (39, 'Ali', 12),
 (40, 'Chris', 17),
 (41, 'Aurora', 13),
 (42, 'Tasmin', 15),
 (43, 'Bill', 18),
 (44, 'Carl', 15),
 (45, 'Dave', 17),
 (46, 'Owen', 15)]

In [27]:
SQL = """
    delete from swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [28]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
if ".DS_Store" in files:
    files.remove(".DS_Store")

SQL_SELECT = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(
            SQL_SELECT,
            (
                name,
                age,
            ),
        )
        if db.fetchall():
            continue
        db.execute(
            SQL_INSERT,
            (
                name,
                age,
            ),
        )