In [1]:
%pip install pandas lxml --upgrade

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting lxml
  Downloading lxml-6.0.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/manish/.local/share/pipx/venvs/jupyter/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/manish/.local/share/pipx/venvs/jupyter/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 30.6 MB/s eta 0:00:00 0:00:01
Downloading lxml-6.0.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 26.7 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 29.0 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, lxml, pandas
Successfully installed lxml-6.0.0 numpy-2.3.2 pandas-2.3.1 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [3]:
tables = pd.read_html(URL)

In [4]:
type(tables)

list

In [5]:
type(tables[0])

pandas.core.frame.DataFrame

In [6]:
tables[0].head()

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.40,NaN,Pan Zhanle,China,31 July 2024,Olympic Games,"Paris, France",[13]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[14][15][16]
3,400m freestyle,3:39.96,NaN,Lukas Märtens,Germany,12 April 2025,Swim Open Stockholm,"Stockholm, Sweden",[17]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[18][19]

In [7]:
df = tables[0][["Event", "Time"]]

In [8]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:39.96
4  800m freestyle  7:32.12

In [9]:
df.to_dict()

{'Event': {0: '50m freestyle',
  1: '100m freestyle',
  2: '200m freestyle',
  3: '400m freestyle',
  4: '800m freestyle',
  5: '1500m freestyle',
  6: '50m backstroke',
  7: '100m backstroke',
  8: '200m backstroke',
  9: '50m breaststroke',
  10: '100m breaststroke',
  11: '200m breaststroke',
  12: '50m butterfly',
  13: '100m butterfly',
  14: '200m butterfly',
  15: '200m individual medley',
  16: '400m individual medley',
  17: '4 × 100 m freestyle relay',
  18: '4 × 200 m freestyle relay',
  19: '4 × 100 m medley relay'},
 'Time': {0: '20.91',
  1: '46.40',
  2: '1:42.00',
  3: '3:39.96',
  4: '7:32.12',
  5: '14:30.67',
  6: '23.55',
  7: '51.60',
  8: '1:51.92',
  9: '25.95',
  10: '56.88',
  11: '2:05.48',
  12: '22.27',
  13: '49.45',
  14: '1:50.34',
  15: '1:52.69',
  16: '4:02.50',
  17: '3:08.24',
  18: '6:58.55',
  19: '3:26.78'}}

In [10]:
df.tail()

                        Event     Time
15     200m individual medley  1:52.69
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [11]:
df["Event"]

0                 50m freestyle
1                100m freestyle
2                200m freestyle
3                400m freestyle
4                800m freestyle
5               1500m freestyle
6                50m backstroke
7               100m backstroke
8               200m backstroke
9              50m breaststroke
10            100m breaststroke
11            200m breaststroke
12                50m butterfly
13               100m butterfly
14               200m butterfly
15       200m individual medley
16       400m individual medley
17    4 × 100 m freestyle relay
18    4 × 200 m freestyle relay
19       4 × 100 m medley relay
Name: Event, dtype: object

In [12]:
df["Event"].str

In [ ]:
# A pandas conditional expression
df["Event"].str.contains("relay")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
Name: Event, dtype: bool

In [14]:
df[df["Event"].str.contains("relay")]

                        Event     Time
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [15]:
# Negating your pandas conditional expression:
# "~" character before a pandas conditional, flips its boolean value
df[~df["Event"].str.contains("relay")]

                     Event      Time
0            50m freestyle     20.91
1           100m freestyle     46.40
2           200m freestyle   1:42.00
3           400m freestyle   3:39.96
4           800m freestyle   7:32.12
5          1500m freestyle  14:30.67
6           50m backstroke     23.55
7          100m backstroke     51.60
8          200m backstroke   1:51.92
9         50m breaststroke     25.95
10       100m breaststroke     56.88
11       200m breaststroke   2:05.48
12           50m butterfly     22.27
13          100m butterfly     49.45
14          200m butterfly   1:50.34
15  200m individual medley   1:52.69
16  400m individual medley   4:02.50

In [16]:
df = df[~df["Event"].str.contains("relay")]

In [17]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.40'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:39.96'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:30.67'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:52.69'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]