In [1]:
import data_utils

In [2]:
print([x for x in dir(data_utils) if not x.startswith("__")])

['DBcm', 'db_details', 'get_session_swimmers', 'get_swim_sessions', 'get_swimmers_events', 'get_swimmers_times', 'queries']

In [3]:
help(data_utils.get_swim_sessions)

Help on function get_swim_sessions in module data_utils:

get_swim_sessions()
    Return a tuple-list of unique session timestamps.

In [4]:
data_utils.get_swim_sessions()

[('2025-08-21 10:49:04',), ('2025-08-22 11:39:51',)]

In [5]:
data_utils.get_session_swimmers("2025-08-22")

[('Abi', 10),
 ('Blake', 15),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Katie', 9),
 ('Maria', 9),
 ('Owen', 15)]

In [6]:
data_utils.get_swimmers_events("Darius", 8, "2025-08-22")

[('50m', 'Back'), ('50m', 'Free'), ('50m', 'Breast')]

In [7]:
data_utils.get_swimmers_times("Darius", 8, "50m", "Free", "2025-08-22")

[('39.42',), ('36.13',), ('37.66',), ('39.07',)]

In [8]:
data = data_utils.get_swim_sessions()
data

[('2025-08-21 10:49:04',), ('2025-08-22 11:39:51',)]

In [10]:
[session[0].split(" ")[0] for session in data]

['2025-08-21', '2025-08-22']

In [11]:
data = data_utils.get_session_swimmers("2025-08-22")
print(data)

[('Abi', 10), ('Blake', 15), ('Darius', 13), ('Darius', 8), ('Dave', 17), ('Katie', 9), ('Maria', 9), ('Owen', 15)]

In [12]:
[f"{name}-{age}" for name, age in data]

['Abi-10',
 'Blake-15',
 'Darius-13',
 'Darius-8',
 'Dave-17',
 'Katie-9',
 'Maria-9',
 'Owen-15']

In [13]:
data = data_utils.get_swimmers_events("Darius", 8, "2025-08-22")
print(data)

[('50m', 'Back'), ('50m', 'Free'), ('50m', 'Breast')]

In [14]:
[f"{distance} {stroke}" for distance, stroke in data]

['50m Back', '50m Free', '50m Breast']

In [15]:
data = data_utils.get_swimmers_times("Darius", 8, "50m", "Free", "2025-08-22")
print(data)

[('39.42',), ('36.13',), ('37.66',), ('39.07',)]

In [16]:
[time[0] for time in data]

['39.42', '36.13', '37.66', '39.07']