In [1]:
import queries

print(dir(queries))

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION', 'SQL_SESSIONS', 'SQL_SWIMMERS_BY_SESSION', 'SQL_SWIMMERS_EVENTS_BY_SESSION', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__']

In [2]:
statements = []

for query in dir(queries):
    if not query.startswith("__"):
        statements.append(query)

statements

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION',
 'SQL_SESSIONS',
 'SQL_SWIMMERS_BY_SESSION',
 'SQL_SWIMMERS_EVENTS_BY_SESSION']

In [3]:
[sql for sql in dir(queries) if not sql.startswith("__")]

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION',
 'SQL_SESSIONS',
 'SQL_SWIMMERS_BY_SESSION',
 'SQL_SWIMMERS_EVENTS_BY_SESSION']

In [4]:
[x for x in dir(list) if not x.startswith("__")]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
print([x for x in dir(list) if not x.startswith("__")])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [6]:
import DBcm

db_details = "CoachDB.sqlite3"

In [7]:
from queries import SQL_SESSIONS

print(SQL_SESSIONS)

    select distinct ts from times

In [10]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()
results

[('2025-08-21 10:49:04',), ('2025-08-22 11:39:51',)]

In [9]:
!python3 update_tables.py

In [11]:
from queries import SQL_SWIMMERS_BY_SESSION

print(SQL_SWIMMERS_BY_SESSION)

    select distinct swimmers.name, swimmers.age
    from times, swimmers
    where date(times.ts) = ? and
    times.swimmer_id = swimmers.id
    order by name

In [12]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_BY_SESSION, ("2025-08-22",))
    results = db.fetchall()
results

[('Abi', 10),
 ('Blake', 15),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Katie', 9),
 ('Maria', 9),
 ('Owen', 15)]

In [14]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_BY_SESSION, ("2025-08-21",))
    results = db.fetchall()
results

[('Abi', 10),
 ('Ali', 12),
 ('Alison', 14),
 ('Aurora', 13),
 ('Bill', 18),
 ('Blake', 15),
 ('Calvin', 9),
 ('Carl', 15),
 ('Chris', 17),
 ('Darius', 13),
 ('Dave', 17),
 ('Elba', 14),
 ('Emma', 13),
 ('Erika', 15),
 ('Hannah', 13),
 ('Katie', 9),
 ('Lizzie', 14),
 ('Maria', 9),
 ('Mike', 15),
 ('Owen', 15),
 ('Ruth', 13),
 ('Tasmin', 15)]

In [15]:
from queries import SQL_SWIMMERS_EVENTS_BY_SESSION

print(SQL_SWIMMERS_EVENTS_BY_SESSION)

    select distinct events.distance, events.stroke
    from swimmers, events, times
    where times.swimmer_id = swimmers.id and
    times.event_id = events.id and
    (swimmers.name = ? and swimmers.age = ?) and
    date(times.ts) = ?

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(
        SQL_SWIMMERS_EVENTS_BY_SESSION,
        (
            "Darius",  # Darius U13
            13,
            "2025-08-21",  # 1st swim session date
        ),
    )
    results = db.fetchall()
results

[('100m', 'Fly'), ('200m', 'IM'), ('100m', 'Back'), ('100m', 'Breast')]

In [18]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(
        SQL_SWIMMERS_EVENTS_BY_SESSION,
        (
            "Darius",  # Darius U8
            8,
            "2025-08-22",  # 2nd swim session date
        ),
    )
    results = db.fetchall()
results

[('50m', 'Back'), ('50m', 'Free'), ('50m', 'Breast')]

In [19]:
from queries import SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION

print(SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION)

    select times.time
    from swimmers, events, times
    where (swimmers.name = ? and swimmers.age = ?) and
    (events.distance = ? and events.stroke = ?) and
    swimmers.id = times.swimmer_id and
    events.id = times.event_id and
    date(times.ts) = ?

In [20]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(
        SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION,
        (
            "Darius",  # Darius U13
            13,
            "100m",
            "Fly",
            "2025-08-21",  # 1st swim session date
        ),
    )
    results = db.fetchall()
results

[('1:27.95',),
 ('1:21.07',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:27.95',),
 ('1:28.30',)]